// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $card-border-radius: 0px;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
