// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";

.hi {
    width: 28px;
    height: 28px;
    color: white;
} //Hero Icons

#profile_cover {
    position: relative;
    #cover {
        width: 100%;
        background-color: gray;
        height: 200px;
    }
    #profile {
        margin-top: -100px;
    }
}

#main_content,
#side_bar {
    padding-top: 80px !important;
}

td,
th {
    vertical-align: middle !important;
    padding: 14px !important;
    background: $white !important;
}
.form-control,
select,
.lg_btn {
    padding: 10px 20px 10px 20px !important;
}

.sidebar_item {
    color: #212121;
    padding: 10px !important;
}
.sidebar_item_active {
    padding: 10px !important;
    background: $blue-500;
    color: white;
}

.custom_photo_div {
    position: relative;
}

.custom_photo_div img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
}

.custom_photo_div .photo_choose_icon {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    color: white;
}
