// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Variables
@import "bsw_variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import "bootswatch";

// Bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";

.nav_active {
    a:hover {
        color: white !important;
    }
    a {
        background-color: $primary;
        color: white;
        border-radius: 8px;
    }
}

.category_active {
    p {
        color: $primary !important;
        font-weight: 500 !important;
    }
}

.category_active:hover {
    p {
        color: white !important;
    }
}

.navbar-toggler {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler:focus {
    border: 1px solid #21212170 !important;
    box-shadow: none !important;
}

.hi {
    width: 28px;
    height: 28px;
    color: white;
} //Hero Icons

#profile_cover {
    position: relative;
    #cover {
        width: 100%;
        background-color: gray;
        height: 200px;
    }
    #profile {
        margin-top: -100px;
    }
}

#main_content,
#side_bar {
    padding-top: 0px !important;
}

td,
th {
    vertical-align: middle !important;
    padding: 14px !important;
    background: $white !important;
}
.form-control,
select,
.lg_btn {
    padding: 10px 20px 10px 20px !important;
}

.sidebar_item {
    color: #212121;
    padding: 10px !important;
}
.sidebar_item_active {
    padding: 10px !important;
    background: $blue-500;
    color: white;
}

.custom_photo_div {
    position: relative;
}

.custom_photo_div img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
}

.custom_photo_div .photo_choose_icon {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    color: white;
}

// Client Styles

.nav_logo {
    width: 160px;
}

#app_layout {
    padding-top: 90px !important;
}

.carousel-item {
    height: 200px;
}

.book_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.book_image {
    height: 140px;
}

.custom-dropdown-menu {
    width: 100%;
}

.password_input:focus-visible {
    outline: none !important;
}

#search_custom_btn {
    width: 300px !important;
    padding: 10px 20px 10px 20px !important;
}

.search_input:focus-visible {
    outline: none !important;
}

.search_book_img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.profile_card_item {
    transition: 0.3s;
}

.profile_card_item:hover {
    p {
        color: $primary !important;
        font-weight: 500 !important;
    }
}

.last_nav_item {
    border-bottom: 1px solid #21212130;
}

// animation
.card-container {
    height: 240px !important;
    position: relative;
    border-radius: 8.5px;
}

.card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: white;
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.book-container {
    height: 240px !important;
    position: relative;
    border-radius: 8.5px;
}

.book-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: white;
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.animate_card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.animate_card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.animate_card .img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animate_card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    padding: 18px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animate_card:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.animate_card:hover .img-content {
    scale: 2.3;
    rotate: 27deg;
    filter: blur(5px) brightness(60%);
}
.animated {
    width: 100%;
}
// Card Animation end

@media (min-width: 768px) {
    #main_content,
    #side_bar {
        padding-top: 80px !important;
    }

    .last_nav_item {
        border-bottom: none !important;
    }

    .nav_logo {
        width: 200px;
    }

    .carousel-item {
        height: 300px;
    }
    .book_grid_container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 14px;
    }
    .card-container {
        height: 215px !important;
    }

    .book-container {
        height: 280px !important;
    }

    .animated {
        width: 30%;
    }
}
